<div class="container">
  <div class="col-lg-6">
    <h3>Ventas</h3>
    <div class="panel panel-default">
      <div class="scroll-container">
        <!--div class="panel-heading">Ventas</div-->
        <table class="table">
          <tr>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Precio</th>
          </tr>
          <tr ng-repeat="i in items">
            <td>{{i.nombre}}</td>
            <td ng-click="incrementarCantidad(i.id)">{{i.cantidad}}</td>
            <td>${{i.cantidad*i.precio}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <h3>Productos</h3>
    <input type="text" ng-model="nombre" ng-keypress="$event.which === 13 && agregarProducto(nombre)">
    <!--button class="btn btn-primary" ng-click="agregarProducto(nombre)">+</button-->
    <!--input type="text" ng-model="query"-->
    <div class="scroll-container">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="p in productos" ng-click="agregarItem(p)">
          {{p.nombre}}
        </li>
      </ul>
    </div>
  </div>
</div>
